  <mat-card>
    <mat-card-title>Personal Information</mat-card-title>
    <mat-card-subtitle>step 1 of 3</mat-card-subtitle>
    <mat-card-content>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" type="text" class="form-control form-horizontal" id="firstName"
          required
          [(ngModel)]="user.firstName" name="firstName"
          #firstName="ngModel">
          <mat-icon matSuffix>person</mat-icon>
          <div [hidden]="firstName.valid || firstName.pristine"
              class="alert alert-danger">
            First Name is required
          </div>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" type="text" class="form-control" id="lastName"
        required
        [(ngModel)]="user.lastName" name="lastName"
        #lastName="ngModel">
        <mat-icon matSuffix>person</mat-icon>
        <div [hidden]="lastName.valid || lastName.pristine"
             class="alert alert-danger">
             Last Name is required
        </div>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" placeholder="Phone Number" class="form-control" id="telephone"
               required
               [(ngModel)]="user.telephone" name="telephone"
               #telephone="ngModel">
        <mat-icon matSuffix>phone</mat-icon>
        <div [hidden]="telephone.valid || telephone.pristine"
             class="alert alert-danger">
             Phone Number is required
        </div>
        </mat-form-field>
      </p>
        <div mat-dialog-actions align="center" >
          <button type="submit" mat-raised-button color="primary"  [class.spinner]="loading" [disabled]="!userForm.form.valid || loading">Next <mat-icon matSuffix >arrow_right_alt</mat-icon></button>
        </div>
    </form>
  </mat-card-content>
  <mat-card-footer [hidden]="errorMessage == ''" >
    <div mat-dialog-actions align="center" class="alert alert--danger"><p>{{errorMessage}}</p></div>
  </mat-card-footer>
  </mat-card>
