<mat-card>
  <mat-card-title>Address Information</mat-card-title>
  <mat-card-subtitle>step 2 of 3</mat-card-subtitle>
  <mat-card-content>
  <form (ngSubmit)="onSubmit()" #userAddressForm="ngForm">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" type="text" class="form-control form-horizontal" id="street"
        required
        [(ngModel)]="address.street" name="street"
        #street="ngModel">
        <mat-icon matSuffix>home</mat-icon>
        <div [hidden]="street.valid || street.pristine"
            class="alert alert-danger">
          Street name is required
        </div>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
      <mat-label>House Number</mat-label>
      <input matInput placeholder="House Number" type="text" class="form-control" id="houseNumber"
      required
      [(ngModel)]="address.houseNumber" name="houseNumber"
      #houseNumber="ngModel">
      <mat-icon matSuffix>pin</mat-icon>
      <div [hidden]="houseNumber.valid || houseNumber.pristine"
           class="alert alert-danger">
           House Number is required
      </div>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
      <mat-label>Zip Code</mat-label>
      <input matInput type="text" placeholder="Zip code" class="form-control" id="zipCode"
             required
             [(ngModel)]="address.zipCode" name="zipCode"
             #zipCode="ngModel">
      <mat-icon matSuffix>local_post_office</mat-icon>
      <div [hidden]="zipCode.valid || zipCode.pristine"
           class="alert alert-danger">
           Zip code is required
      </div>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
      <mat-label>City</mat-label>
      <input matInput type="text" placeholder="City" class="form-control" id="city"
             required
             [(ngModel)]="address.city" name="city"
             #city="ngModel">
      <mat-icon matSuffix>location_city</mat-icon>
      <div [hidden]="city.valid || city.pristine"
           class="alert alert-danger">
           City is required
      </div>
      </mat-form-field>
    </p>
      <div mat-dialog-actions align="center" >
        <button type="submit" mat-raised-button color="primary"  [class.spinner]="loading" [disabled]="!userAddressForm.form.valid || loading">Next <mat-icon matSuffix >arrow_right_alt</mat-icon></button>
      </div>
  </form>
</mat-card-content>
<mat-card-footer [hidden]="errorMessage == ''" >
  <div mat-dialog-actions align="center" class="alert alert--danger"><p>{{errorMessage}}</p></div>
</mat-card-footer>
</mat-card>
