<mat-card>
  <mat-card-title>Payment Information</mat-card-title>
  <mat-card-subtitle>step 3 of 3</mat-card-subtitle>
  <mat-card-content >
  <form (ngSubmit)="onSubmit()" #userPaymentForm="ngForm" [hidden]="payment.paymentDataId">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Account Owner</mat-label>
        <input matInput placeholder="Account Owner" type="text" class="form-control form-horizontal" id="accountOwner"
        required
        [(ngModel)]="payment.accountOwner" name="accountOwner"
        #accountOwner="ngModel">
        <mat-icon matSuffix>person</mat-icon>
        <div [hidden]="accountOwner.valid || accountOwner.pristine"
            class="alert alert-danger">
            Account owner is required
        </div>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
      <mat-label>IBAN</mat-label>
      <input matInput placeholder="IBAN" type="text" class="form-control" id="iban"
      required
      [(ngModel)]="payment.iban" name="iban"
      #iban="ngModel">
      <mat-icon matSuffix>pin</mat-icon>
      <div [hidden]="iban.valid || iban.pristine"
           class="alert alert-danger">
           IBAN is required
      </div>
      </mat-form-field>
    </p>

    <div mat-dialog-actions align="right" >
      <button type="submit" mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" >Send <mat-icon matSuffix >paid</mat-icon></button>
    </div>
  </form>
</mat-card-content>
<mat-card-footer>

  <div mat-dialog-actions align="center" class="alert alert--danger" [hidden]="errorMessage == ''">
    <p>{{errorMessage}}</p>
  </div>

    <div mat-dialog-actions align="center" class="alert alert--success" [hidden]="!payment.paymentDataId">
     <p>
       <span>
         <mat-icon matPrefix>check_circle</mat-icon>
          Payment Successfully made!
        </span>
        <br /><br />
        PaymentDataId: {{payment.paymentDataId}}
      </p>
  </div>

</mat-card-footer>
</mat-card>
