/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #dddddd; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-title{
  font-size: 18px;
}

.mat-card{
  width: 800px;
}
.mat-form-field{
  min-width: 100%;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.alert--danger{
  color:rgb(241, 50, 50)
}


.alert--success{
  color:rgb(28, 122, 56);
  background-color: #dcf5e0;
  border-color: #258333;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;

  span{
    font-size: 18px;
    .mat-icon{
      vertical-align:middle;
    }
  }


}



